@namespace _51stBlazor.Pages

<div class="row">
    <section>
        <figure>
            <div id="carouselExampleIndicators"
                 class="carousel slide"
                 data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                    <button type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active"
                         style="
                  height: 33vh;
                  background-size: cover;
                  background-position: center center;
                  background-image: url('/img/c1.png');
                ">
                        <!-- <img src="/img/c1.png" class="d-block w-100" alt="..." /> -->
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Welcome to the 51st Fighter Wing</h1>
                        </div>
                    </div>
                    <div class="carousel-item"
                         style="
                  height: 33vh;
                  background-size: cover;
                  background-position: center center;
                  background-image: url('/img/c2.png');
                ">
                        <!-- <img src="/img/c2.png" class="d-block w-100" alt="..." /> -->
                    </div>
                    <div class="carousel-item"
                         style="
                  height: 33vh;
                  background-size: cover;
                  background-position: center center;
                  background-image: url('/img/389_TitleImg.jpg');
                ">
                        <!-- <img
                          src="/img/389_TitleImg.jpg"
                          class="d-block w-100"
                          alt="..."
                        /> -->
                    </div>
                </div>
                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </figure>
    </section>
</div>

@code {

}

