@page "/JoinUp"
@using Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure
@namespace _51stBlazor.Pages

<_NavBar/>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <img src="/img/WeWantYou.jpg" class="img-fluid mx-auto d-block"/>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
            <h2 class="text-center">Join the Ranks of the 51st Fighter Wing</h2>
            <p>
                Are you passionate about aviation? Intrigued by the tactical intricacies of air combat? Looking for a close-knit community that shares your interests? If so, we have an invitation for you.
            </p>

            <p>
                The 51st Fighter Wing, an esteemed virtual fighter wing in the Digital Combat Simulator (DCS), is actively recruiting enthusiastic individuals to join our ranks. Whether you're an experienced virtual pilot or new to the flight simulators, you'll find a place here among our three distinguished squadrons: The 25th "Draggins," the 36th "Fiends," and the 389th "Thunderbolts."
            </p>

            <p>
                We offer an immersive and realistic simulation experience, mirroring the disciplined training and tactical expertise of the real-world United States Air Force. More than just the simulation, though, we are a community. We learn together, we fly together, and we cultivate a camaraderie that extends beyond the virtual skies.
            </p>

            <p>
                So how do you become part of this dynamic group? The first step is easy. Visit our Discord server and start a conversation. Here, you can ask questions, get to know our members, and understand more about our values and operations. We're always keen to welcome new members and help them navigate the exciting world of virtual aviation.
            </p>

            <p>
                Don't just dream of flying - start your journey with the 51st Fighter Wing today. Visit our Discord, chat with us, and discover how you can join us in dominating the virtual skies.
            </p>

            <p>
                We look forward to meeting you and, hopefully, flying alongside you soon!
            </p>
        </div>
    </div>

    <div class="text-center">
        <div>
            <a href="https://discord.gg/yWJZkzuVj8" class="">
                <img src="/img/discord.png" alt="description of image" class="w-25" />
            </a>
        </div>
    </div>
</div>

@code {

}
